SE_NODE_OVERRIDE_MAX_SESSIONS=true
SE_NODE_MAX_SESSIONS=10
SE_NODE_SESSION_TIMEOUT=300
HOST=localhost
REDIS_POST=6379
REDIS_URL=redis://${HOST}:${REDIS_POST}
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
WS_HOST=localhost
WS_PORT=8765
LLM_MODEL=google
LLM_MODEL_NAME=smallthinker
LLM_EMBEDDING_MODEL=nomic-embed-text
GOOGLE_API_KEY=